@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Readex+Pro:wght@500&display=swap');
* {
    margin: 0;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkslategrey;
    /* background-color:#100d19; */
    /* background-color: inherit; */
    /* background-color: rgba(0,0,0,0.7); */
    padding:0.5rem;
    box-shadow:black 1px 2px 8px;
    position:sticky;
    top:0;
    font-family: 'Inconsolata', monospace;
    font-family: 'Readex Pro', sans-serif;
} 
.navbar > * {
    width:50%;
}
.right-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.logo-text {
    color:aliceblue;
}
.right-nav li {
    padding-block-start: 0;
    position: relative;
}
.right-nav li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 700;
    color:darkmagenta;
}
.right-nav li::after {
    content:'';
    width:0;
    height:1px;
    background-color:red;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    transition:0.5s;
}
.right-nav li:hover::after {
    width:100%;
}
.right-nav li:hover a {
    opacity:0.4;
}
.home-container {
    display: grid;
    width:100%;
    grid-template-columns: 1fr 1fr;
    margin:0 auto;
    place-items: center;
    background-color: rgba(0,0,0,0.7);
    height:100vh;
    flex-wrap: wrap;
}
.home-item {
    /* background-color:#1a1a24; */
    background: #eee;
    background: linear-gradient(240deg, rgba(196, 176, 176, 0.9) , rgba(161, 161, 216, 0.5) );
    padding:2rem 1rem;
    transition: 0.2s;
    border-radius: 10px;
}
.home-item:hover {
    box-shadow: whitesmoke 1px 2px 8px;
}
.home-item-images {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.signsvg , .textsvg {
    width:70px;
    color:black;
}
.arrowsvg {
    width:40px;
    color:#282828;
    background-color: inherit;
}
.item-img {
    width:100px;
    border-radius: 100%;
}
.home-item p {
    text-align: center;
    border-bottom: 0.1px solid black;
    padding-bottom:5px;
    font-size: 1.2rem;
    margin:5px 0;
    width:400px;
    margin:0 auto;
    color:black;
    letter-spacing: 5px;
    /* opacity:0.8; */
}
.home-item a {
    text-decoration: none;
    display: block;
    background-color:inherit;
    /* color:#4f5459; */
    color:black;
    font-size: 1.2rem;
    text-align:center;
    margin:1rem 0;
    padding:1em 0.5em;
    transition:0.5s;
    border-radius: 50px;
    /* border:2px solid black; */
    text-transform: capitalize;
    box-shadow: black 1px 3px 5px;
    /* background-color: cadetblue; */
    background-color: olivedrab;;
    opacity:0.8;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
    font-family: 'Readex Pro', sans-serif;
    font-style: italic;
}
.home-item a:hover {
    /* background-color:#4f5459; */
    color:#00003c;
    opacity:1;
    box-shadow: black 8px 0px 5px;
}
form {
    width:400px;
    margin:5px auto;
}
legend {
    color:aqua;
    font-size: 2rem;
    text-transform: capitalize;
}
.stot-container {
    padding:4px;
    text-align: center;
    background-color: #282828;
    background: #010101;
background: -webkit-linear-gradient(top left, #010101, #41094F);
background: -moz-linear-gradient(top left, #010101, #41094F);
background: linear-gradient(to bottom right, #010101, #41094F);
    height: 100vh;
}
fieldset {
    padding:10px 10px;
    border:2px solid black;
}
fieldset:hover {
    border:2px solid blue;
}
input[type='submit'] {
    float:right;
    margin-top:10px;
    font-size:1rem;
    background-color: skyblue;
    color:black;
    border:none;
    font-weight: bold;
    padding:0.5em 1em;
}

input[type='submit']:hover {
    opacity:0.8;
    box-shadow:white 1px 0px 8px;
}
.predict-allcontainer{ 
    width:80%;
    margin:10px auto;
    background-color: #e5e6e6;
    box-shadow: black 1px 8px 3px;
    overflow: hidden;
    text-align: center;
}
.predict-container {
    width:80%;
    margin:10px auto;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    background-color: #e5e6e6;
   
    padding:2rem 1rem;
}
.predict-back {
    background-color: slategray;
    padding:0.5rem 1rem;
    box-shadow: black 1px 0px 3px;
}
.predict-container img {
    width:100%;
}
.predict-container .predict-item {
    width:300px;
}
.predict-container .text {
    align-self: center;
    color:burlywood;
    padding:0;
    margin:0;
    width:300px;
    font-size:250px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}
input[type='file'] {
    border:0.2px solid blueviolet;
    color:wheat;
    width:100%;
    font-size: 1rem;
}
.goback {
    font-size: 1rem;
    float: left;
}
.vtext {
    text-align: center;
    font-size: 1rem;
    background-color:#282828;
    color:white;
    width:300px;
    height:250px;
   }
   .voicebtn {
    background-color:blueviolet;
    color:black;
    font-size: 1.5rem;
    font-weight: bold;
    width:200px;
    margin-bottom: 5px;
    border: none;
   }
   .voicebtn:hover {
    opacity:0.8;
    box-shadow: black 1px 0px 3px;
    }
    .vrecord {
        text-decoration: none;
        text-transform: capitalize;
        background-color: blue;
        color:white;
        width:400px;
        display: block;
        margin: 0 auto;
        font-size: 1.5rem;
    }
    .vrecord:hover {
        box-shadow: whitesmoke 1px 0px 3px;
    }
    .output-container {
        display:grid;
        place-items: center;
        margin:20px auto;
        background-color: #4f5459;
        width: 80%;
        min-height: 60vh;
    }
    .outputtext {
        background-color: darkslategray;
        color:aqua;
        font-size: 2rem;
        min-width: 300px;
        min-height:300px;
        padding:1em;
        border-radius: 10px;
        box-shadow: white 1px 0px 3px;
    }
    .rec-goback , .rec-speakout{
        font-size: 1.5rem;
        background-color: inherit;
        border: 1px solid blue;
        color:aqua;
        padding:0.2em 1em;
        text-decoration: none;
        align-self: flex-start;
    }
    .rec-goback {
        float:left;
    }
    .rec-speakout {
        float:right;
    }
    .rec-goback:hover ,.rec-speakout:hover{
        box-shadow: white 1px 0px 3px;
    }
    .logo-text {
        font-family: 'Inconsolata', monospace;
        font-family: 'Readex Pro', sans-serif;
        /* color:#4f5459; */
        margin-left:5px;
        color:whitesmoke;
    }
    svg {
        background-color: black;
        color:pink;
        border-radius: 100%;
        padding:2px;
        
    }
.about-page {
    background-color: #e5e6e6;
    margin:10px auto;
    width:80%;
    padding-bottom: 10px;
}
.about-page h3 {
    background-color: aquamarine;
    padding:5px;
    color:#4f5459;
}
.about-page p{
    padding:10px;
    font-size: 1.2rem;
}
.about-page ul {
    margin:10px;
}
.about-page ul li {
    margin:10px 0;
}
.vlink {
    background-color:aliceblue;
    margin:20px auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr;
}
.stp {
    background-color:#282828;
    margin:5px auto;
    display:block;
    text-decoration: none;
    text-transform: capitalize;
    border:1px solid #282828;
    color:blue;
    text-align: center;
}
.stp:hover {
    color:white;
    border:1px solid blue;
    box-shadow: black 1px 0px 3px;
}
.home-background {
    /* background-image: url('/static/images/background.jpg'); */
    background-image: url('/static/images/background2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height:100vh;
    margin:0;
    /* display: grid; */
    place-items: center;
}
.txtarea {
    background-color: #1a1a24;
    display: block;
    width: 100%;
    color:white;
    font-size: 1rem;
    margin:0 auto;
}
.txtarea:focus {
    border:1px solid gray;
    width:100%;
}
.ttos {
    width:100%;
}
.rec {
    background-color: inherit;
    border:2px solid black;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    width:400px;
    margin:0 auto;
    display:block;
    color:white;
    padding:5px 0;
}
.rec:hover {
    opacity:0.4;
    border:2px solid blue;
}
.textsvg {
    border-radius: 0%;
}
.texttospeech-container {
    background-color: #282828;
    min-height: 100vh;
    padding:10px;
    /* display: grid;
    place-items: center; */
}
.texttospeech-container > div {
    background-color: #1a1a24;
    width:80%;
    margin:10px auto;
}
.texttospeech-container div textarea {
    width:100%;
    font-size: 1.5rem;
    background-color: #1a1a24;
    color:white;
}
.t-btn {
    float:right;
    margin-top:10px;
    font-size:1.5rem;
    background-color: skyblue;
    color:black;
    border:none;
    font-weight: bold;
    padding:0.5em 1em;
}
.t-btn:hover {
    opacity:0.8;
    box-shadow:white 1px 0px 8px;
}
.speechtt-container {
    background-color: #4f5459;
    min-height: 90vh;
    padding:20px;
}
.speechtt-container fieldset {
    text-align:center;
}
.speechtt-container #text {
    width:80%;
    background-color: #1a1a24;
    font-size: 1.5rem;
    display: block;
    margin: 0 auto;
    color:whitesmoke;
}
.speechtt-container #stop {
    float:left;
}
.speechtt-container #instructions {
    color : red;
    font-size: 1rem;
    margin-top:5px;
}
.signpredict {
    background-color: inherit;
}
.signs-text-container {
    width:80%;
    margin:10px auto;
    background-color:#2b3058;
}
.signs-text-container .signs-text-container-header {
    padding:5px;
    color:white;
    background-color: #00003c;
    text-align: center;
}
.signs-text-container-header a {
    float: left;
}
.goback-svg {
    color:whitesmoke;
    background-color: inherit;
    width:20px;
}
.goback-svg:hover {
    opacity:0.8;
}
@media  screen and (max-width:600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar > * {
        width:100%;
    }
     .right-nav {
         display:none;
     }
     .home-container {
         display: block;
         margin:2px auto;
         background-color: black;
         height: auto;
     }
     .home-background {
         background-image: none;
         /* background-color: black; */
     }
     .home-item {
         margin:10px 0;
     }
     .texttospeech-container > div {
         width:100%;
     }
     .speechtt-container #start , .speechtt-container #stop {
         font-size: 1rem;
     }
     .speechtt-container #text {
         width:100%;
     }
     .predict-container {
        width:100%;
        margin:10px auto;
        margin-bottom: 0;
        display: block;
        background-color: #e5e6e6;
        padding:2rem 1rem;
    }
    .predict-container .vtext {
        padding:10px;
        /* width:100%; */
        margin:0 auto;
        width: 300px;
        text-align: center;
        display:block;
        height:auto;
    }
    video {
        display: block;
        margin:0 auto;
    }
    .stot-container form {
        width:100%;
    }
    .ttos {
        width:100%;
    }
    .stot-container > div {
        display:none;
    }
    .rec {
        width:90%;
    }
    .predict-container {
        padding:0;
    }
    .predict-container .predict-item {
        width:100%;
    }
    fieldset {
        width:100%;
        padding:0;
        margin:0;
    }
    .home-container p {
        width:100%;
    }
    .signs-text-container {
        width:100%;
    }
}
.rotate-animation {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    background-color: inherit;
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
        color:red;
    }
    100% {
        transform: rotate(360deg);
    }
}