{% extends 'base.html' %} 

{% block content %}  
<div class='about-page'>
    <h3>About Us</h3>
    <hr>
    <p>This simple attempt to solve the problem of disability(deaf and dumb) people</p>
    <div>
        <h3>Tech stack used</h3>
        <hr>
        <ul>
            <li>Mediapipe</li>
            <li>Opencv</li>
            <li>randomforestclassifier (machine learning model)</li>
        </ul>
    </div>
    <div>
        <h3>System compatabilities</h3>
        <ul>
            <li>minimum of 4gb ram</li>
            <li>cpu works fine (gpu is prefered)</li>
        </ul>
    </div>
</div>
{% endblock content %}