<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../static/css/main.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .vrecord {
    background-color:aliceblue;
    margin:20px auto;
    display:grid;
    justify-content: center;
    grid-template-columns: 1fr;
   }
    </style>
    {% block head %}{% endblock head %}
</head>
<body>
    {% include 'navbar.html' %}
    {% block content %} 
    {% endblock content %}
</body>
</html>