{% extends 'base.html' %}
{% block title %} 
<title>Home</title>
{% endblock title %} 

<!-- body of the home page -->
{% block content %} 
<div class='home-container'>
    <div class='home-item'>
        <p>
            This section helps you to get the text/voice for the hand gestures provided 
        </p>
        <a href="/stot">Sign Language to text</a>
    </div>
    <div class='home-item'>
        <p>
            This section helps you to know hand gestures for the text/voice provided 
        </p>
        <a href="/ttos">Text to sign language</a>
    </div>
    </div>
{% endblock content %}