{% extends 'base.html' %}
{% block content %}
<div class='predict-allcontainer'>
    <div class='predict-back'>
        <a class='goback' href="/stot">Go back</a>
        <strong>predicted text for the gieven image</strong>
    </div>
<div class='predict-container'>
    <div class='predict-item'>
        <img src="{{ url_for('display_image', filename=filename) }}" alt='image'>
    </div>
    <span class='text'>{{text}}</span>
</div>
<button class='voicebtn' onclick="texttovoice()">speak out</button>
<article">
    <strong>Note :</strong>
    <br>
    <ol style="text-align: center;display: inline-block;">
       <li>Make sure the image size to be 640 X 480 resuolution</li>
       <li>Make sure that only one hand appears in the frame</li>
    </ol>
</article>
</div> 

<script>
   function texttovoice() {
       console.log('funtion called')
       var text = document.querySelector('.text').innerText
       console.log(text)
       if( 'speechSynthesis' in window ) {
        let speaknow = new SpeechSynthesisUtterance(text); 
        window.speechSynthesis.speak(speaknow); 
       } 
       else {
           alert('browser not supported')
       }
   }
</script>
{% endblock content %}