{% extends 'base.html' %} 
{% block title %} 
<title>Text to Sign</title>
{% endblock title %} 

<!-- body of SignToText page -->
{% block content %} 
<div class='stot-container'>
    <form action="/imgPredict" method='POST' enctype="multipart/form-data">
        <fieldset class='ttos'>
          <legend>text to image</legend>
          <textarea class='txtarea' name="text" id="" cols="30" rows="10" placeholder="Enter your text here..."></textarea>
          <input type='submit' value='Translate' />
        </fieldset>
      </form>
    </form>
</div>
{% endblock content %}

