{% extends 'base.html' %} 

{% block content %} 
<div class='predict-allcontainer'>
    <div class='predict-back'>
        <a class='goback' href="/stot"><svg class='goback-svg' aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z"></path></svg></a>
        <strong>predicted text for the gieven image</strong>
    </div>
<div class='predict-container'>
    <div class='predict-video'>
        <video width="320" height="240" controls>
            <source src="{{ path }}" type="video/mp4">
            Your browser does not support the video tag.
          </video>
    </div>
    <span  class='vtext'>{{text}}</span>
</div>
<button onclick="texttovoice()" class='voicebtn'>speak out</button>
<article>
    <strong>Note :</strong>
    <br>
    <ol style="text-align: center;display: inline-block;">
       <li>Make sure the video size to be 640 X 480 resuolution</li>
       <li>Make sure that only one hand appears in the frame</li>
    </ol>
</article>
</div>
<script>
    function texttovoice() {
       console.log('funtion called')
       var text = document.querySelector('.vtext').innerText
       console.log(text)
       if( 'speechSynthesis' in window ) {
        let speaknow = new SpeechSynthesisUtterance(text); 
        window.speechSynthesis.speak(speaknow); 
       } 
       else {
           alert('browser not supported')
       }
   }
</script>
{% endblock content %}